setuptoolsstreamlitopenaitiktokencrewailangchainlangchain-communitylangchain-openailangchain-chromachromadb>=0.4.24,<0.6.0numpy>=1.24.3,<2.0.0duckduckgo-searchddgspython-dotenvpdfplumberpypdfreportlabpython-docxplotlyfoliumstreamlit-foliumopenpyxlpandas