setuptoolsstreamlitopenaicrewailangchainlangchain-communitylangchain-openailangchain-chromachromadb==0.4.24numpy>=1.24.3,<2.0.0duckduckgo-searchddgspython-dotenvpdfplumberpypdfreportlabpython-docx